@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './base.css';

:root{
  --main-cards: #19171D;
  --purple-cards: #6167AE;
  --yellow-cards: #F7D00E;
  --teal-cards: #63B6AD;
  --red-cards: #BE2426;
  --green-cards: #88C040;
  --blue-text: #4753A4
}

*{
  font-family: 'Montserrat', sans-serif !important;
}

@media (max-width: 768px) {
  body{
    background-image: url("bg/bg-mobile.png");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 768px) {
  body{
    background-image: url("bg/bg-desktop.png");
    background-size: cover;
    background-position: center;
  }
}

body{
  background-color: #1D181E;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-popup{
  background-image: url("bg/bg-card-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}

.blue-color-text{
  color: var(--blue-text);
}

.white{
  background-color: #E8E2F0;
}
.black{
  background-color: var(--main-cards) !important;
}
.black-main{
  background-color: var(--main-cards) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 5px;
}
.purple{
  background-color: var(--purple-cards) !important;
}
.yellow{
  background-color: var(--yellow-cards) !important;
}
.red{
  background-color: var(--red-cards) !important;
}
.teal{
  background-color: var(--teal-cards) !important;
}
.green{
  background-color: var(--green-cards) !important;
}